body{
    background:linear-gradient(50deg,#d14545,#ffd045);
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
    font-family: 'Nunito Sans', sans-serif;
}
a{
  text-decoration: none;
  
}
h1{
  color:black;
  font-size: xx-large;
}
.logo{
    
  height: 10%;
  width: 10%;
  margin-left: 48%;
  margin-right: 32%;
  
  
}


.headsection{
    display: flex;
    justify-content: space-between;
    height: 30%;
    width: 100%;
    align-items: center;
    margin-top: 1.5%;
    
    
}
.menubar{
  display: flex;
  flex-wrap: nowrap;
  width: 21%;
}

.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    width: 50%;
    margin-right: 7%;

}
.searchsection{
    height:50px;
    width: 30rem;
    margin-left: 0;
    background:transparent;
    border-radius: 7px;
    transition: 0.1s all ease-in-out;
    
}
.searchsection:hover{
    border: 2px solid black;
    border-radius: 10px;
    background: linear-gradient(50deg, #ff7878, #ffffff);
    

}
.search-btn{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  transition: 1s,all ease-in-out;
  background: transparent;
  margin-left: 1%;
}
.search-btn:hover{
  border: 2px solid rgb(243, 23, 23);
}
.cart{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7% ;
  height: 100%;
  margin-right: 2%;
}
.cart:hover{
  border: 2px solid snow;
}
.info{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px #5b7c99 solid;
  border-radius: 20px;
  
}


/** shop section coding**/
.shopsection{
  display: flex;
  flex-wrap: wrap ;
  
  

}
.shopsection a{
  width: 30%;
  margin: 1.6%;
}
.shopbox{
  
  height: 100%;
  width:  100%;
  background:transparent;
  border: 2px solid #e5e9ec;
  text-align: center;
  border-radius: 15px;
  transition: 0.5s all ease-in-out;

  
  
}
.shopbox:hover{
  border-radius: 15px;
  border:2px solid  #5b7c99;
  box-shadow:6px 6px 5px lightblue;
}
.shopbox img{
  height: 85%;
  width: 100%;
  opacity: 0.7;
  border-radius: 15px;

}
.shopbox:hover img{
  opacity: 1;
}
