body{
    /**background: linear-gradient(90deg,#fce271ea,#c94a74);**/
    background:linear-gradient(180deg,white,rgb(247, 205, 205));
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
    font-family: 'Nunito Sans', sans-serif;
}
a{
  text-decoration: none;
  
}
h1{
  color:black;
  font-size: xx-large;
}
header{
  /**background:linear-gradient(50deg,#ead24a,#8cb4d4ee);**/
  background-color: white;
  margin-bottom: 1%;
  display: flex;
  height:12%;
}
.logo{
  height: 13%;
  width: 15%;
  margin-left: 6%;
  margin-right: 6%;
  margin-bottom: 0;
}


.headsection{
    /**background: linear-gradient(80deg,#f1d27be0,#e05d89ea);**/
    background:linear-gradient(70deg,rgb(248, 54, 54),#f94747);
    display: flex;
    justify-content: space-between;
    height: 12%;
    width: 70%;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 0;
    border-radius: 15px;
    transition: 0.1s all ease-in-out;
  
    
    
    
    
}
.headsection:hover{
  border-top: 0.08px solid #aeaeaf;
}
.menubar{
  display: flex;
  flex-wrap: nowrap;
  width: 21%;
  
}
.menubar ul a{
  color: white;
  font-size: large;
  transition: 0.2s all ease-in-out;

  
}
.menubar ul a:hover{
  font-size: larger;
  color:black;
}

.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    height: 100%;
    width: 50%;
    height: 2.6rem;
    


}
.searchsection{
    height:90%;
    width: 70%;
    margin-left: 0;
    background:transparent;
    border: 2px solid whitesmoke;
    border-radius: 7px;
    transition: 200ms all ease-in-out;
    padding: 0%;
    outline: none;
    
}
.searchsection:hover{
    border: 2px double whitesmoke;
    border-radius: 10px;
    background-color: #f32e2ec9;
    backdrop-filter: blur 5px;
    -webkit-backdrop-filter: blur 2px;
    outline: none;

}
.searchsection:focus{
  border: 2px double whitesmoke;
  border-radius: 10px;
  background-color: #f10b0bc9;
  backdrop-filter: blur 5px;
  -webkit-backdrop-filter: blur 2px;
  outline: none;

}
.search-btn{
  height: 150%;
  width: 8%;
  background:transparent;
  border: 2px white;
}


.cart{
 color: white;
 margin-right: 2%;
}

.info{
  display: flex;
  align-items: center;
  justify-content: center;
  
}


/** shop section coding**/
.shopsection{
  display: flex;
  flex-wrap: wrap ;
  
  

}
.shopsection a{
  height: 40%;
  width: 20%;
  margin-left: 6.66%;
  margin-right: 6.66%;
}
.shopbox{
  
  height: 100%;
  width:  100%;
  background:transparent;
  text-align: center;
  border-radius: 15px;
  transition: 100ms all ease-in-out;

  
  
}
.shopbox:hover{
  border-radius: 15px;
  border:2px solid  #ff3434;
  box-shadow:6px 6px 5px rgb(231, 230, 230);
  -webkit-backdrop-filter:blur 5px;
  backdrop-filter: blur 5px;
  background-color: rgba(243, 250, 249, 0.616);
  
}
.shopbox img{
  height: 100%;
  width: 98%;
  opacity: 0.9;
  border-radius: 15px;
  transition: 100ms all ease-in-out;

}
.shopbox:hover img{
  height: 99%;
  opacity: 1;
  width: 96%;
}
footer{
  margin-top: 3%;
  background:linear-gradient(70deg,rgb(248, 54, 54),rgba(255, 162, 162, 0.856));
}
.foot-section{
  width: 70%;
  height: 40%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

}
.foot-section ul{
  width: 100%;
}
.foot-section ul a{
  margin-left: 6%;
  font-size: large;
  color: white;
  transition: 0.3s all ease-in-out;
  
}
.foot-section ul a:hover{
  font-size: larger;
  color: black;
}
/** shopping pages codding**/
.prdct-sec{
  display: flex;
  margin-bottom: 3%;
  
}
.prdct-sec img{
  height: 15%;
  width: 15%;
  transition: 0.4s all ease-in-out;
}
.prdct-sec img:hover{
  height: 15.2%;
  width: 15.2%;
  background-color: #1ef0db59;
}
.prdct-sinfo{
  margin-left: 6%;
}
.fridge-pic{
  max-height: fit-content;
}
/**sign in page**/
.sign-in-sec{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}
.sign-in{
  display:inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 35%;
  width: 30%;
  margin-left: 20%;
  margin-right: 20%;
  border: 2px solid black;
  border-radius: 15px;
  transition: 0.5s all ease-in-out;
}
.sign-in:focus-within{
  height: 32%;
  width: 31%;
  background-color: #ffffff5e;
  backdrop-filter: blur 5px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.582);
}
.sign-in:hover{
  height: 32%;
  width: 31%;
  background-color: #ffffff5e;
  backdrop-filter: blur 5px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.582);
}
/** sign up page **/
.sign-up-sec{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.sign-up{
  display:flex;
  flex-direction: column;
  justify-content: space-between(3%);
  align-items: center;
  width: 30%;
  margin-left: 20%;
  margin-right: 20%;
  border: 2px solid black;
  border-radius: 15px;
  transition: 0.5s all ease-in-out;
}
.sign-up:hover{
  width: 31%;
  background-color: #ffffff5e;
  backdrop-filter: blur 5px;
  
}
.sign-up:focus-within{
  width: 31%;
  background-color: #ffffff5e;
  backdrop-filter: blur 5px;
  
}
.about-us{
  align-items: center;
  justify-content: center;
}
/**product page design**/
.product-details{
  display: flex;
}
.product-details img{
  width: 50%;
  margin-bottom: 20%;

}
.prdct-info{
  height: 100%;
  margin-left: 10%;
  margin-top: 5%;


}
.specs{
  margin-top: 10%;
  

}
.about-item{
  margin-top: 5%;

}
