body{
    background-image: url("Images/background.jpg");
    background-blend-mode: lighten;
}
.headsection{
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    
}
.logo{
    
    height: 90px;
    width: 90px;
    margin-left: 50%;
    margin-right: 50%;
    
    
}
.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    margin-left: 45%;

}
.searchsection{
    height:60px;
    width: 150%;
    margin-left: 0;
    
}
.searchssection:hover{
    border: 4px solid black;
}
.cart img{
    height: 90px;
    width: 90px;
}
input{
    width: 65%;
    padding: 8px 20px 8px 45px;
    font-size: 18px;
    border-radius:5px;
    background-position: 2% 50%;
    background-repeat: no-repeat;
    background-size: 30px;
    background:linear-gradient(30deg,black,white) ;
    transition: 0.5s all ease-in-out;
    filter: brightness(170%)
}
input:focus{
    width: 70%;
    filter:brightness(100%);
    border:3px solid yellow;

}
/** shop section coding**/
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px;
  grid-gap: 10px;
  max-width: 1000px;
  margin: 50px auto;
}

.box {
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 25px;
}

.box-1 {
  background-image: url("Images/ELECTRONICS.jpg");
  background-size: cover;
}

.box-2 {
background-image: url("Images/FASHION.jpg");
background-size: cover;
}

.box-3 {
  background-image: url("Images/GROCERY.jpg");
  background-size: cover;
}

.box-4 {
  background-image: url("Images/FURNITURE.jpg");
  background-size: cover;
}

.box-5 {
  background-image: url("Images/COSMETICS.jpg");
  background-size: cover;
}

.box-6 {
  background-image: url("Images/HOME-APPLIANCES.jpg");
  background-size: cover;
}
.shopbox{
  border-radius: 15%;
}